@media print {
  body {
    background-color: #FFF;
  }

  #container {
    width: auto;
    margin: 0;
    padding: 0;
    border: none;
  }
  
  #line_items {
    page-break-before: always;
  }
  
  #pdf_link, #imgtopo, #menutopo, #botoes_rodape,  #tablebotao, a {
    display: none;
  }
  td, h1{
	text-align: center;
}
}