div.content, div.toolbar{
	padding: 4px;
	padding-right: 6px;
	margin: 4px;
	width: 788px;
}
div.start{
	padding: 4px;
	margin-right: -2px;
	margin-top: 4px;
}
body {
	text-align:center; /* hack para o IE */	
}
a.toolbarimg{
	padding: 0px 0px 0px 0px;
	margin-left: 5px;
	width: 798px;
	height: 100px;
}
img.header{
	margin-top: -5px;
	margin-left: -13px;
}
div.main{
	margin-left: 25%;
	width: 800px;
	margin:0 auto;			
	padding: 10px;
	text-align:left; /* "remédio" para o hack do IE */
}
a.botaomenu{
	padding-left: 0.4em;
}
div.barrabotoes{
	padding-left: 6px;
	padding-right: 5px;
	text-align:center; /* "remédio" para o hack do IE */
}
div.field{
	margin: 10px;
}
div.actions{
	margin-top: 10px;
	color: #ADADAD;
}
tr{
	text-align: center;
}
b.show{
  float:left;
  width:13%;
  margin-right:0.5em;
  text-align:right;
  font-weight:bold;	
}
p.show{
  margin-top: 4px;
  margin-bottom: 4px;
}
th{
	text-align: center;
}
label {
  float:left;
  width:180px;
  margin-right:0.5em;
  padding-top:4px;
  text-align:right;
  font-weight:bold;
}
h1 {
	font-size: 14px;
}

input[type="checkbox"] {
	margin-top: 6px;
}
h1 {
	margin: 0px 0px 10px 0px; 
	padding: 5px 0px 5px 0px;
	border: 1px solid #aaaaaa; 
	background: #cccccc url(images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x; 
	color: #222222; 
	font-weight: bold; 
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px; 
	border-radius: 4px;
}
div.botoes_rodape{
	color: #ADADAD;
}
td.botoes{
	width: 10px;
}
legend{
	margin-left: 10px;
	padding-left: 10px;
	padding-right: 10px;
}
fieldset{
	margin-bottom: 5px;
}
#notice{
	font-size: 14px;
	color: #008000;
}
#error_explanation{
	border: 1px solid #cd0a0a; 
	background: #fef1ec url(images/ui-bg_glass_95_fef1ec_1x400.png) 50% 50% repeat-x; 
	color: #cd0a0a; 
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px;
	border-radius: 4px; 
	padding: 5px;
	margin-bottom: 4px;
}
li, h2{
	padding-bottom: 2px;
}
div.iconeerro {
	background-repeat: no-repeat; 
	background-position: 0 -144px;
	width: 16px; 
	height: 16px; 
	background-image: url(images/ui-icons_cd0a0a_256x240.png);
	float: left;
	margin-right: 2px;
	margin-top: -1px;
	border: 0px;
}
h2{
	font-size: 14px;
	text-align: center;
}
img.sicocaimg{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 245px;
}